{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5>Onlyflans nace en el año 2021, buscando capitalizar las ganas de comer flan en exceso de su fundador Juanito Pérez. ¿Quién iba a decir que una obsesión por el postre más cremoso y delicioso del mundo se convertiría en un negocio tan dulce? Aquí, en Onlyflans, no solo hacemos flanes; creamos obras maestras flanosas. Desde el clásico flan de vainilla hasta el exótico flan de maracuyá, nuestro objetivo es convertir cada bocado en una fiesta para tus papilas gustativas. ¡Únete a nuestra revolución flanera y descubre por qué nuestros flanes están conquistando corazones y estómagos por igual!</h5>
</div>
{% endblock %}


<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acerca</title>
</head>
<body>
    Acerca
</body>
</html>-->