{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mb-2">
      <div class="col">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>
            Nuestro Equipo
          </h2>
          <p>
            Nos encargamos de tener un equipo consolidado, con valores como la confianza y el compañerismo enfocados en un trabajo de excelencia que da como resultado un producto de calidad
          </p>
        </div>
      </div>
    </div>
    <div id="staffCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          {% for staff in staffs %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="card mx-auto shadow-lg hover-scale" style="max-width: 300px;">
                  <img src="{{ staff.image_url }}" class="card-img-top" alt="flan" style="height: auto; width: 100%;">
                  <div class="card-body">
                      <h5 class="card-title">{{ staff.name }}</h5>
                      <h6 class="card-text">{{ staff.company_position }}</h6>
                      <p>{{ staff.review }}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      <div class="d-flex justify-content-center mt-3">
          <button class="carousel-control-prev" type="button" data-bs-target="#staffCarousel" data-bs-slide="prev">
              <span class="d-flex align-items-center justify-content-center bg-dark rounded-circle p-2">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </span>
          </button>
          <button class="carousel-control-next ms-2" type="button" data-bs-target="#staffCarousel" data-bs-slide="next">
              <span class="d-flex align-items-center justify-content-center bg-dark rounded-circle p-2">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </span>
          </button>
      </div>
  </div>
  </div>
    <!--<div class="row">
        {% for staff in staffs %}
        <div class="col-6 col-md-3">
            <div class="card">
                <img src="{{ staff.image_url }}" class="card-img-top" alt="flan" style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ staff.name }}
                  </h5>
                  <h6 class="card-text">
                    {{ staff.company_position }}
                  </h6>
                  <p>
                    {{ staff.review }}
                  </p>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>-->    
</div>
{% endblock %}


